* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Futurism';
    src: url('fonts/Futurism.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    width: 100%;
    background-color: #030917;
}

.animated-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 456px;
    height: 456px;
    background: linear-gradient(217.85deg, rgba(30, 93, 255, 0.3) -1.54%, rgba(15, 68, 163, 0.1) 101.14%);
    z-index: -1;
    animation: changeShape 10s infinite, rotateShape 50s infinite linear;
    mix-blend-mode: screen;
}


.shadow-1 {
    width: 400px;
    height: 400px;
    background: linear-gradient(217.85deg, rgba(11, 20, 41, 0.15) -1.54%, rgba(5, 34, 90, 0.05) 101.14%);
    animation: changeShape 12s infinite, rotateShape 60s infinite linear;
    filter: blur(10px);
}

.shadow-2 {
    width: 556px;
    height: 556px;
    background: linear-gradient(217.85deg, rgba(30, 93, 255, 0.1) -1.54%, rgba(15, 68, 163, 0.05) 101.14%);
    animation: changeShape 6s infinite alternate, rotateShape 40s infinite linear reverse;
    filter: blur(10px);
}

@keyframes changeShape {
    0% {
        border-radius: 9% 91% 12% 88% / 85% 13% 87% 15%;
    }

    10% {
        border-radius: 22% 78% 22% 78% / 70% 24% 76% 30%;
    }

    20% {
        border-radius: 36% 64% 35% 65% / 59% 38% 62% 41%;
    }

    30% {
        border-radius: 54% 46% 52% 48% / 39% 56% 44% 61%;
    }

    40% {
        border-radius: 81% 19% 77% 23% / 19% 83% 17% 81%;
    }

    50% {
        border-radius: 79% 21% 87% 13% / 13% 88% 12% 87%;
    }

    60% {
        border-radius: 81% 19% 77% 23% / 19% 83% 17% 81%;
    }

    70% {
        border-radius: 54% 46% 52% 48% / 39% 56% 44% 61%;
    }

    80% {
        border-radius: 36% 64% 35% 65% / 59% 38% 62% 41%;
    }

    90% {
        border-radius: 22% 78% 22% 78% / 70% 24% 76% 30%;
    }

    100% {
        border-radius: 9% 91% 12% 88% / 85% 13% 87% 15%;
    }
}

@keyframes rotateShape {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.header-title {
    width: 100%;
}

.title-0 {
    font-size: 112px;
    font-family: 'Futurism', sans-serif;
    font-weight: 300;
    color: #DDE3ED;
    position: relative;
    display: inline-block;
    opacity: 0;
    animation: moveTitle 2s ease-out forwards;
}

@keyframes moveTitle {
    0% {
        opacity: 0;
        transform: translateX(-1500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.title-0:nth-child(1) {
    animation-delay: 0s;
}

.title-0:nth-child(2) {
    animation-delay: 0.5s;
}

.title-0:nth-child(3) {
    animation-delay: 1s;
}

.title-0:nth-child(4) {
    animation-delay: 1.5s;
}

.title-0:nth-child(5) {
    animation-delay: 2s;
}

.title-0:nth-child(6) {
    animation-delay: 2.5s;
}

.title-0:nth-child(7) {
    animation-delay: 3s;
}

.title-0:nth-child(8) {
    animation-delay: 3.5s;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.header-photo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #12192B;
    margin-bottom: 0;
    background-color: #293140;
}

.header-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.header-text {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #DDE3ED;
}

.header-dev {
    font-size: 16px;
    color: #DDE3ED;
    margin: 5px 0;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.header-icon a {
    text-decoration: none;
    background: linear-gradient(270deg, #535b6e 0.95%, #6BBAFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    transition: color 0.3s ease;
}

.header-icon a:hover {
    background: linear-gradient(270deg, #6BBAFF 0.95%, #535b6e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    z-index: 0;
    border-radius: 36% 64% 35% 65% / 59% 38% 62% 41%;
    animation: float 6s infinite ease-in-out;
}

.shape1 {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(270deg, #6BBAFF 0.95%, #535b6e 100%);
    top: 10%;
    left: 30%;
    filter: blur(15px);
    animation: float 8s infinite ease-in-out;
}

.shape2 {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(270deg, #6BBAFF 0.95%, #535b6e 100%);
    bottom: 15%;
    right: 30%;
    filter: blur(15px);
    animation: float 8s infinite ease-in-out;
}

.about {
    width: 56.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    z-index: 1;
}

.about-title {
    width: 27rem;
    font-size: 64px;
    background: linear-gradient(270deg, #1141BD 0.95%, #6BBAFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
    position: relative;
}

.about-title:nth-child(1) {
    transition-delay: 0s;
}

.about-title:nth-child(2) {
    transition-delay: 0.2s;
}

.about-title:nth-child(3) {
    transition-delay: 0.4s;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 35rem;
    max-height: 25rem;
    z-index: 1;
}

.about-text-start {
    width: 1rem;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(270deg, #6BBAFF 0.95%, #1141BD 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: start;
}

.about-text {
    font-size: 22px;
    text-align: justify;
    color: #EDEFF0;
    line-height: 140%;
    font-weight: 300;
}

.about-text-end {
    font-size: 20px;
    font-weight: 500;
    color: #EDEFF0;
    text-align: end;
}

.fa-location-dot {
    background: linear-gradient(270deg, #6BBAFF 0.95%, #1141BD 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(30px, 0);
        /* Move para a direita */
    }

    50% {
        transform: translate(30px, 30px);
        /* Move para baixo */
    }

    75% {
        transform: translate(0, 30px);
        /* Move para a esquerda */
    }

    100% {
        transform: translate(0, 0);
        /* Volta ao ponto inicial */
    }
}

.skills-container,
.education-container,
.portifolio-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.skills-bar,
.education-bar {
    width: 62rem;
    padding: 20px 8px;
    border-top: 2px solid #293140;
}

.skills-title,
.education-title {
    width: 10rem;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(224.78deg, #4AA6F7 8.12%, #1141BD 92.21%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 16px;
}

.skills-item {
    width: 60rem;
    padding: 0px 12px;
}

.skills-sub-title {
    color: #DDE3ED;
    margin: 8px;
    font-size: 44px;
    line-height: 120%;
    font-weight: 300;
}

.skills-sub-different {
    background: linear-gradient(270deg, #1141BD 0.95%, #6BBAFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-technologies {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
    gap: 32px;
    padding-top: 32px;
}

.skills-list {
    align-items: center;
    width: 18.50rem;
    height: 20rem;
    background: linear-gradient(217.85deg, rgba(30, 93, 255, 0.3) -1.54%, rgba(15, 68, 163, 0.1) 101.14%);
    border: 3px solid rgba(30, 60, 137, 0.99);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    padding: 20px 32px;
}

.skills {
    font-size: 54px;
    background: linear-gradient(224.78deg, #4AA6F7 30.12%, #1141BD 70.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-title-text {
    color: #DDE3ED;
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    margin-top: 8px;
}

.skills-text {
    letter-spacing: 0px;
    color: #9EA0A3;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    margin-top: 8px;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    overflow: hidden;
    opacity: 0.5;
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.experience-container {
    position: relative; 
    z-index: 1; 
    width: 100%;
    height: 110vh;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 45rem;
    position: relative;
}

.ex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 64px;
    font-weight: 300;
    color: #DDE3ED;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.ex-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 64px;
    font-weight: 300;
    color: #DDE3ED;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateX(100px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.ex-3 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 64px;
    font-weight: 300;
    color: #DDE3ED;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.ex-4 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 64px;
    font-weight: 300;
    color: #DDE3ED;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateX(100px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.ex-5 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 64px;
    font-weight: 300;
    color: #DDE3ED;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.ex-6 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30rem;
    height: 5rem;
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(224.78deg, #4AA6F7 8.12%, #1141BD 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(100px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.experience-list .ex-1.active,
.experience-list .ex-2.active,
.experience-list .ex-3.active,
.experience-list .ex-4.active,
.experience-list .ex-5.active,
.experience-list .ex-6.active {
    opacity: 1;
    transform: translateX(50px);
}

.experience-list .ex-1.bounce,
.experience-list .ex-2.bounce,
.experience-list .ex-3.bounce,
.experience-list .ex-4.bounce,
.experience-list .ex-5.bounce,
.experience-list .ex-6.bounce {
    transform: translateX(0);
}

.experience-list .ex-1.exit,
.experience-list .ex-3.exit,
.experience-list .ex-5.exit {
    opacity: 0;
    transform: translateX(-100px);
}

.experience-list .ex-2.exit,
.experience-list .ex-4.exit,
.experience-list .ex-6.exit {
    opacity: 0;
    transform: translateX(100px);
}

.education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 32px;
    padding-top: 32px;
}

.education-list {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 20rem;
    background: rgba(22, 30, 50, 0.4);
    border: 4px solid #12192B;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    padding: 32px;
    gap: 10px;
}

.fa-book-open-reader,
.fa-list {
    font-size: 3rem;
    background: linear-gradient(224.78deg, #4AA6F7 8.12%, #1141BD 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education-icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.education-icon-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.education-main {
    color: #DDE3ED;
    font-family: "Exo 2", sans-serif;
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
}

.education-main-time {
    color: #0BB07B;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    text-transform: uppercase;
}

.education-text {
    letter-spacing: 0px;
    color: #9EA0A3;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
}

.fa-check {
    font-size: 1.2rem;
    background: linear-gradient(224.78deg, #4AA6F7 8.12%, #1141BD 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
}

.portifolio-bar {
    width: 62rem;
    padding: 20px 8px;
}

.portifolio-title {
    width: 10rem;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    font-family: "Oxanium", sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(224.78deg, #4AA6F7 8.12%, #1141BD 92.21%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 16px;
}

.portifolio-item {
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin-left: 30px;
    gap: 10px;
}

.portifolio-sub-text {
    color: #EDEFF0;
    font-family: "Oxanium", sans-serif;
    font-size: 64px;
    line-height: 110%;
    font-weight: 100;
}

.portifolio-title-text {
    letter-spacing: 0px;
    color: #7C7D80;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
}

.portifolio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    border-top: 2px solid #293140;
}

.portifolio-list {
    display: flex;
    width: 100%;
    height: 10rem;
    border-bottom: 2px solid #293140;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.portifolio-item-number {
    color: #293140;
    font-family: "Oxanium", sans-serif;
    font-size: 48px;
    line-height: 120%;
    font-weight: 200;
}

.portifolio-sub-title {
    color: #EDEFF0;
    font-family: "Oxanium", sans-serif;
    font-size: 48px;
    line-height: 120%;
    font-weight: 200;
}

.portifolio-item-title {
    letter-spacing: 0px;
    color: #7C7D80;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
}

.portifolio-item-view {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1141BD;
    cursor: pointer;
}

.portifolio-view-text {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 200;
    color: #F5F7F7;
}

.contacts-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #12192B;
}

.contacts-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 62rem;
    padding: 20px 8px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5rem;
    align-items: end;
}

.contacts-list-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 22rem;
    height: 5rem;
}

.contacts-list-icon {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5rem;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.contacts-copy {
    letter-spacing: 0px;
    color: #7C7D80;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
}

.contacts-title {
    letter-spacing: 0px;
    color: #7C7D80;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 200;
}

.contacts-item {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1221;
}

.contacts-icon {
    font-size: 18px;
    line-height: 150%;
    font-weight: 200;
    background: linear-gradient(224.78deg, #4AA6F7 8.12%, #1141BD 92.21%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 480px) and (max-width: 1024px) {}


@media (max-width: 480px) {}